In [45]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [35]:
#bajamos la info de wikipedia
tables=pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [19]:
# A -> H
#12 ->  7 * 8 + 12 = 68

In [39]:
#bajamos datos de las tablas | damos formato a columnas
dict_teams = {}
for letra, i in zip(alfabeto, range(12,68,7)):
    df = tables[i]
    df.rename(columns={df.columns[1]:'Team'},inplace=True)
    df.pop('Qualification')
    dict_teams[f'Group {letra}'] = df

In [48]:
dict_teams['Grupo C']

   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    0  0  0  0   0   0   0    0
1    2  Saudi Arabia    0  0  0  0   0   0   0    0
2    3        Mexico    0  0  0  0   0   0   0    0
3    4        Poland    0  0  0  0   0   0   0    0

In [49]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_teams, output)