In [21]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
#años en los que se jugaron mundiales
years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,2018]

In [29]:
df_football

            home         score          away  year
0        Brazil            3–1       Croatia  2014
1        Mexico            1–0      Cameroon  2014
2        Brazil            0–0        Mexico  2014
3      Cameroon            0–4       Croatia  2014
4      Cameroon            1–4        Brazil  2014
..           ...           ...           ...   ...
59  Netherlands   0–0 (a.e.t.)    Costa Rica  2014
60       Brazil            1–7       Germany  2014
61  Netherlands   0–0 (a.e.t.)     Argentina  2014
62       Brazil            0–3   Netherlands  2014
63      Germany   1–0 (a.e.t.)     Argentina  2014

[64 rows x 4 columns]

In [52]:
def get_matches(year,score_=None):
    link = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    response = requests.get(link)
    content = response.text
    soup = BeautifulSoup(content,'lxml')
    matches = soup.find_all('div', class_ = 'footballbox')
    home = []
    score = []
    away = []
    for match in matches:
        home.append(match.find('th',class_ ='fhome').get_text())
        if score_ is None:
            score.append(match.find('th',class_ ='fscore').get_text())
        else:
            score.append('')
        away.append(match.find('th',class_ ='faway').get_text())
    dict_football = {'home':home,'score':score,'away':away}
    df_football = pd.DataFrame(dict_football)
    df_football['year'] = year
    return df_football

In [53]:
#historical data
fifa = [get_matches(year) for year in years]

In [54]:
df_fifa = pd.concat(fifa,ignore_index = True)

In [55]:
df_fifa.to_csv('fifa_worldcup_historical_data.csv')

In [58]:
df_fixture = get_matches(2022,'0')
df_fixture.to_csv('fifa_worldcup_fixture.csv', index=False)

SyntaxError: invalid syntax (414666270.py, line 2)

            home score          away  year
0         Qatar              Ecuador  2022
1       Senegal          Netherlands  2022
2         Qatar              Senegal  2022
3   Netherlands              Ecuador  2022
4       Ecuador              Senegal  2022
..           ...   ...           ...   ...
59      England               France  2022
60    Argentina              Croatia  2022
61       France              Morocco  2022
62      Croatia              Morocco  2022
63    Argentina               France  2022

[64 rows x 4 columns]